<mat-card>
<mat-tab-group class="formwidth">
  <mat-tab label="One" >
    <form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
      <h3>Address Form</h3>
      <table class="fullwidth" cellspacing="0">
        <tr>
          <td>
            <mat-input-container class="fullwidth">
              <input  matInput placeholder="First Name" id="firstname" [(ngModel)]="address.firstname" name="firstname">
            </mat-input-container>
          </td>
          <td>
            <mat-input-container class="fullwidth">
              <input matInput placeholder="Last Name" id="lastname" [(ngModel)]="address.lastname" name="lastname">
            </mat-input-container>
          </td>
        </tr>
      </table>
    
      <p>
        <mat-input-container class="fullwidth">
          <textarea matInput placeholder="Address" id="address" [(ngModel)]="address.address" name="address"></textarea>
        </mat-input-container>
      </p>
    
      <table class="fullwidth" cellspacing="0">
        <tr>
          <td>
            <mat-input-container class="fullwidth">
              <input matInput placeholder="City" id="city" [(ngModel)]="address.city" name="city">
            </mat-input-container>
          </td>
          <td>
            <mat-input-container class="fullwidth">
              <input matInput placeholder="State" id="state" [(ngModel)]="address.state" name="state">
            </mat-input-container>
          </td>
          <td>
            <mat-input-container class="fullwidth">
              <input matInput maxlength="5" #postalcode placeholder="Postal Code" id="postalcode" [(ngModel)]="address.postalcode" name="postcode">
              <mat-hint align="end">
                {{postalcode.value.length}} / 5
              </mat-hint>
            </mat-input-container>
          </td>
        </tr>
      </table>
    
      <p>
        <button type="submit" mat-raised-button>Submit</button>
      </p>
    </form>
  </mat-tab>
  <mat-tab label="Two">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Three">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>
</mat-card>

<!-- <mat-card>
<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <h3>Address Form</h3>
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-input-container class="fullwidth">
          <input  matInput placeholder="First Name" id="firstname" [(ngModel)]="address.firstname" name="firstname">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput placeholder="Last Name" id="lastname" [(ngModel)]="address.lastname" name="lastname">
        </mat-input-container>
      </td>
    </tr>
  </table>

  <p>
    <mat-input-container class="fullwidth">
      <textarea matInput placeholder="Address" id="address" [(ngModel)]="address.address" name="address"></textarea>
    </mat-input-container>
  </p>

  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput placeholder="City" id="city" [(ngModel)]="address.city" name="city">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput placeholder="State" id="state" [(ngModel)]="address.state" name="state">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input matInput maxlength="5" #postalcode placeholder="Postal Code" id="postalcode" [(ngModel)]="address.postalcode" name="postcode">
          <mat-hint align="end">
            {{postalcode.value.length}} / 5
          </mat-hint>
        </mat-input-container>
      </td>
    </tr>
  </table>

  <p>
    <button type="submit" mat-raised-button>Submit</button>
  </p>
</form>
</mat-card> -->