<mat-card>
  <input id="search-input" class="search-input" />
  <br />
  <div id="SimpleJSTree"></div>
  <div id="jstree-result"></div>
  <div id="lol"></div>
</mat-card>


<!-- Making a simple javascript/html/css popup -->

<button id="modalBtn" class="button">Click Here</button>

  <div id="simpleModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
          <span class="closeBtn">&times;</span>
          <h2>Modal Header</h2>
      </div>
      <div class="modal-body">
        <p>{{objName}}</p>
        <p>Hello...I am a modal</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
      </div>
      <div class="modal-footer">
        <h3>Modal Footer</h3>
      </div>
    </div>
  </div>


  